<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/slice/candle.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,266},{22,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,45}</string>
			</dict>
			<key>img/slice/dancer.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,319},{150,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/slice/human.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,319},{150,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/slice/human-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,469},{150,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/slice/human-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,444},{150,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/slice/human-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,519},{150,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/slice/human-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,619},{150,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/slice/human-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,444},{150,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/slice/light.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{351,319}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{351,319}</string>
			</dict>
			<key>img/slice/mummy.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,588},{150,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/slice/mummy-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,594},{150,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/slice/mummy-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,719},{150,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/slice/mummy-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,769},{150,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/slice/mummy-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,594},{150,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/slice/mummy-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,738},{150,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/slice/stone-bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,919},{114,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,178}</string>
			</dict>
			<key>img/slice/style-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,919},{114,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,178}</string>
			</dict>
			<key>img/slice/style-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1033},{114,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,178}</string>
			</dict>
			<key>img/slice/style-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,1044},{114,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,178}</string>
			</dict>
			<key>img/slice/style-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,1097},{114,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,178}</string>
			</dict>
			<key>img/slice/style-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1147},{114,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,178}</string>
			</dict>
			<key>img/slice/zhuhuo.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,266},{66,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,71}</string>
			</dict>
			<key>img/slice/dancer-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,744},{150,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/slice/dancer-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,744},{150,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/slice/dancer-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,888},{150,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/slice/dancer-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,894},{150,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/slice/dancer-4.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,894},{150,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/slice/gem-0.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,357},{23,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,14}</string>
			</dict>
			<key>img/slice/gem-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,343},{25,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,14}</string>
			</dict>
			<key>img/slice/gem-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,311},{32,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,19}</string>
			</dict>
			<key>img/slice/gem-3.png</key>
			<dict>
				<key>frame</key>
				<string>{{982,332},{33,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{33,16}</string>
			</dict>
			<key>img/slice/shadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,332},{86,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,28}</string>
			</dict>
			<key>img/slice/bang.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,332},{25,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,96}</string>
			</dict>
			<key>img/slice/gameover.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,1038},{150,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,200}</string>
			</dict>
			<key>img/slice/again-btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,0},{266,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{266,93}</string>
			</dict>
			<key>img/slice/gameover-board.png</key>
			<dict>
				<key>frame</key>
				<string>{{763,0},{588,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{588,166}</string>
			</dict>
			<key>img/slice/coffin.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,248},{332,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{332,196}</string>
			</dict>
			<key>img/slice/coffin-open.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,0},{412,248}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{412,248}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>slice.png</string>
			<key>realTextureFileName</key>
			<string>slice.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>